# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# =====================================================
# Virtual Environment
# =====================================================

.venv/
venv/
env/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# macOS
# =====================================================

.DS_Store
.AppleDouble
.LSOverride
._*

# =====================================================
# VS Code
# =====================================================

.vscode/

# =====================================================
# Environment Variables
# =====================================================

.env

# =====================================================
# Python Cache
# =====================================================

.pytest_cache/
.mypy_cache/

# =====================================================
# Build Files
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# Matplotlib Cache
# =====================================================

.matplotlib/

# =====================================================
# Temporary Files
# =====================================================

*.log
*.tmp
*.bak

# Raw datasets
data/raw/
data/intermediate/

# Or ignore only the CSV
data/raw/*.csv
data/intermediate/*.csv
